# Java
*.class
*.jar
*.war
*.ear
target/
!.mvn/wrapper/maven-wrapper.jar

# Node
node_modules/
dist/
*.log
npm-debug.log*

# IDE
.idea/
.vscode/
*.iml
*.ipr
*.iws

# OS
.DS_Store
Thumbs.db

# Data
data/*.db
data/documents/

# Docker
docker-compose.override.yml
