# Go
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out
go.sum

# Node
node_modules/
dist/
*.log

# Database
*.db
*.sqlite
*.sqlite3

# IDE
.idea/
.vscode/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.local
